torrentkino4/torrentkino4
torrentkino6/torrentkino6
tumbleweed/tumbleweed
tkcli/tk
tknss/libnss_tk.so.2
debian/torrentkino/
debian/torrentkino.debhelper.log
debian/substvars
debian/torrentkino.postinst.debhelper
debian/torrentkino.postrm.debhelper
debian/files
debian/torrentkino.substvars
*.o
