tk4/tk4
tk6/tk6
tumbleweed/tumbleweed
nss4/libnss_tk4.so.2
nss6/libnss_tk6.so.2
debian/torrentkino/
debian/torrentkino.debhelper.log
debian/substvars
debian/torrentkino.postinst.debhelper
debian/torrentkino.postrm.debhelper
debian/files
debian/torrentkino.substvars
*.o
