tk4/tk4
tk6/tk6
tk/tk
nss/libnss_tk.so.2
debian/torrentkino/
debian/torrentkino.debhelper.log
debian/substvars
debian/torrentkino.postinst.debhelper
debian/torrentkino.postrm.debhelper
debian/files
debian/torrentkino.substvars
*.o
