[Unit]
Description=Torrentkino IPv6
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/bin/sh -c '/usr/bin/tk6 -x marjorie.torrentkino.de -q $(hostname -s).p2p'
Type=simple
User=tk

[Install]
WantedBy=multi-user.target
