Source: masala
Section: net
Priority: extra
Maintainer: Aiko Barz <aiko@chroot.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/torrentkino/masala

Package: masala
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: P2P DNS
 This tool translates hostnames to IPv6 addresses using P2P technology.
